.analysis-header {
  margin: 50px 0 0 50px;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* font-weight: bold; */
}

.analysis-body {
  margin: 50px 0 0 50px;
}

body {
  background-image: url('../public/hacker_background_image.jpg');
  /* background-image: url('../public/COMP6441_fsociety.png'); */
  background-size: 500px 300px;
  background-position: center;
  background-blend-mode: color;
  /* background-size: auto; */
  background-repeat: repeat;
}

.analysis-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.analysis-text {
  color: white;
}